
<div class="container  px-5 px-sm-0">
<h2>­ЪЦћжБЪсЂ╣Тќ╣ТіЋуе┐СИђУдД</h2>
 <div class ="row">
 <div class="col-md-3">

 <div class="btn btn-radius-solid btn--shadow">
<div class="col">
<%= link_to "Тќ░УдЈТіЋуе┐ућ╗жЮбсЂИ", new_recipe_path , class: "btn btn-primary"%>
 </div><br>
   <div class="col">
 </div>
  <div class="col">
<strong>тЊЂуе«сѓИсЃБсЃ│сЃФ</strong>
 </div>
 <div class="col">
<%= link_to "тЁесЂд", recipes_path%>
 </div>
  <div class="col">
<%= form_tag recipes_path, method: :get, class: 'boards__searchForm' do %>
  <% @breeds.each do |tag| %>
      <div class="tag-box">
        <%= link_to tag.name, recipes_path(id: tag.id) %>
      </div>
  <% end %>
   </div>
   </div>
  </div>
  
  <div class="col-md-8 offset-md-1">
 <table>
    <thead>
       <tr>
      <th scope="col">жБЪсЂ╣Тќ╣</th>
      <th scope="col"></th>
      <th scope="col">Сй┐ућесЂЌсЂЪтЊЂуе«</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
 
   <tbody>
<% @recipes.each do |potato| %>
<div class = "mainbord">
  <tr>
   <th scope="col"><%= link_to potato.title,recipe_path(potato.id) %></th>
    
  <th scope="col"><% if potato.recipe_image.attached? %>
    <%= image_tag potato.recipe_image, size: "90x90" %>
  <% else %>
    <%= image_tag 'default-image', size: "90x90" %>
  <% end %></th>
  <th><%= potato.breed.name%></th>
  <th> <% if user_signed_in?%> 
   <div id = "favorite_buttons">
  <%= render "favorites/favorite", recipe: potato %>
  </div>
  <% elsif user_signed_in? && current_user.admin? && current_user.id == @recipe.user_id  %> 
  <% end %></th>
  <th>сѓ│сЃАсЃ│сЃѕТЋ░№╝џ<%= potato.user_comments.count %></th>

  <% end %>
  </tr>
  </div>
  </tbody>
  </thead>
</table>

<% end %>
</div>
</div>
</div>
