<h1><i class="fa-regular fa-potato"></i>投稿一覧</h1>
<%= link_to "新規投稿画面へ", new_recipe_path %>
<p>食べ方一覧</p>
<%= link_to "全て", recipes_path %>
<%= form_tag recipes_path, method: :get, class: 'boards__searchForm' do %>

  <% @breeds.each do |tag| %>
      <div class="tag-box">
        <%= link_to tag.name, recipes_path(id: tag.id) %>
      </div>
  <% end %>
  
 
<% @recipes.each do |potato| %>
<table>
  <th>
    <td><%= link_to potato.title,recipe_path(potato.id) %></td>
    
  <% if potato.recipe_image.attached? %>
    <%= image_tag potato.recipe_image, size: "200x200" %>
  <% else %>
    <%= image_tag 'default-image', size: "200x200" %>
  <% end %>
  <%= potato.breed.name%>

  <% end %>
  </th>
  
</table>

<% end %>

