
<div class="container  px-5 px-sm-0">
<h2><i class="fa-regular fa-potato"></i>食べ方投稿一覧</h2>
 <div class ="row">
 <div class="col-md-3">

 <div class="btn btn-radius-solid btn--shadow">
<div class="col">
<%= link_to "新規投稿画面へ", new_recipe_path , class: "btn btn-primary"%>
 </div><br>
   <div class="col">
 </div>
  <div class="col">
<strong>品種ジャンル</strong>
 </div>
 <div class="col">
<%= link_to "全て", recipes_path%>
 </div>
  <div class="col">
<%= form_tag recipes_path, method: :get, class: 'boards__searchForm' do %>
  <% @breeds.each do |tag| %>
      <div class="tag-box">
        <%= link_to tag.name, recipes_path(id: tag.id) %>
      </div>
  <% end %>
   </div>
   </div>
  </div>
  
  <div class="col-md-8 offset-md-1">
 <table>
    <thead>
       <tr>
      <th scope="col">食べ方</th>
      <th scope="col"></th>
      <th scope="col">使用した品種</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
 
   <tbody>
<% @recipes.each do |potato| %>

  <tr>
   <th scope="col"><%= link_to potato.title,recipe_path(potato.id) %></th>
    
  <th scope="col"><% if potato.recipe_image.attached? %>
    <%= image_tag potato.recipe_image, size: "90x90" %>
  <% else %>
    <%= image_tag 'default-image', size: "90x90" %>
  <% end %></th>
  <th><%= potato.breed.name%></th>
  <th> <% if user_signed_in?%> 
  <%= render "favorites/favorite", recipe: potato %>
  <% elsif user_signed_in? && current_user.admin? && current_user.id == @recipe.user_id  %> 
  <% end %></th>
  <th>コメント数：<%= potato.user_comments.count %></th>

  <% end %>
  </tr>
  </tbody>
  </thead>
</table>

<% end %>
</div>
</div>
</div>
