<div class ="container text-center">
<div class ="row">
<% if user_signed_in? %>
<h1>新規レシピ投稿画面</h1>
</div>
<%= form_with model: @recipe, url: '/recipes', method: :post do |f| %>

<div class ="row">
  <h4>タイトル</h4>
  </div>
  <div class ="row">
  <%= f.text_field :title ,:size=>"70"%>
   </div>
    <div class ="row">
  <h4>イメージ画像</h4>
   </div>
   <div class ="row">
  <%= f.file_field :recipe_image, accept: "image/*" %>
   </div>
<div class ="row">
  <h4>本文</h4>
    </div>
    <div class ="row field">
  <%= f.text_area :main_text,:size=>"100×700" %>
   </div>
  
  　<div class='row form-group'>
    <%= f.collection_select(:breed_id, Breed.all, :id, :name) %>
 
     </div>
     
    <div class ="row">
  <h4>公開/非公開設定</h4>
   </div>
    <div class ="row">
 <%= f.radio_button :is_active, 'true' %>
 <%= f.label :is_active, "公開", value: true %>
 </div>
 <div class ="row">
 <%= f.radio_button :is_active,'false' %>
 <%= f.label :is_active, "非公開", value: false %>
  </div>
   <div class ="row">
  <%= f.submit '投稿' %>
   </div>
   
<% end %>
<% else %>
<div class ="row">
<p>新規投稿をするにはユーザ登録が必要になります。</p><br>
ユーザ登録は <%= link_to "こちら", new_user_registration_path %>からお願いします。
 </div>
<% end %>
 <div class ="row">
 <%= link_to "食べ方一覧",  recipes_path %>に戻る
  </div>
  
 </div>