 <div class="container-field">
 <div class ="row">
    <div class="container">
    <div class="row-text-center ">
     <div class ="row">
     <h5>詳細ページ</h5>
     </div>
     <div class ="row">
      <% if user_signed_in? %>
     <h5>投稿者: 	<%= link_to user_path(@recipe.user.id) do %><%=@recipe.user.name%><% end %></h5>
      <% else %>
      <h5>投稿者: <%= @recipe.user.name%><% end %></h5>
     </div>
   <div class= "row">
  <h4><strong><%= @recipe.title %></strong></h4>
  </div>
  
  </div>
   <div class= "row">
  <% if @recipe.recipe_image.attached? %>
    <%= image_tag @recipe.recipe_image, size: "200x200" %>
  <% else %>
    <%= image_tag 'default-image', size: "200x200" %>
  <% end %>
   </div>
   
   <div class="row-field  m-1">
    画像AI診断:
 <% @recipe.tags.each do |tag| %>
  <span class="label"><%= tag.name %></span>
 <% end %>
 </div>
   <div class= "row  m-1">
  <h5>食べ方解説</h5>
   </div>
   <div class= "row border">
    <!--テキストの改行を反映させる-->
  <%=safe_join(@recipe.main_text.split("\n"),tag(:br)) %><br>
  </div>
  
  <div class= "row m-1">
  品種名:<%= @recipe.breed.name %><br>
  </div>
  
  
 <div class= "row row-cols-auto">
  
   <% if user_signed_in? && current_user.id == @recipe.user_id %>  
   <div class= "col">
  <%= link_to " ユーザ編集",  edit_recipe_path(@recipe), class: "glyphicon glyphicon-pencil btn btn-secondary" %>
  </div>
    <div class= "col">
  <%= button_to " 削除",  recipe_path(@recipe), method: :delete,class: "glyphicon glyphicon-pencil btn btn-danger" , data: {confirm: "本当に削除しますか？"}%>
  </div>
  
   <% elsif user_signed_in? && current_user.id == @recipe.user_id || admin_signed_in? %> 
 
     <div class= "col">
   <%= button_to " 削除",  recipe_path(@recipe), method: :delete,class: "glyphicon glyphicon-pencil btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
    </div>
  <% end %>
  </div>
 
   
  <div class= "row-field m-1">
   <% if user_signed_in?%> 
   <div id = "favorite_buttons">
  <%= render "favorites/favorite", recipe: @recipe %>
  </div>
  <% elsif user_signed_in? && current_user.admin? && current_user.id == @recipe.user_id  %> 
  <% end %>
   </div>
  
  <div class= "row-field">
  <% if user_signed_in? %> 
   <div class="new-comment">
   <%= render "user_comments/comment",recipe: @recipe,user_comment: @comment %></div>
   <% elsif user_signed_in? && current_user.admin? == @recipe.user_id || admin_signed_in?  %> 
   管理者側にはコメント投稿機能はありません
   <% else %>
   <p>コメント投稿をするにはユーザ登録が必要になります。</p><br>
　　新規登録は <%= link_to "こちら", new_user_registration_path %>からお願いします。<br>
　　登録済みの方は <%= link_to "こちら", new_user_session_path %>からログインをお願いします。
   
  <% end %>
   </div>
   
   <div id="comments_area">
    
  <%= render "user_comments/usercomment",recipe: @recipe%>
 
   </div>
  </div>
   </div>
   </div>
   </div>
  