<div class="container">
    <div class ="row">
    <p>いいねした投稿一覧</p>
    </div>
   
<% @favorite_recipes.each do |like|%>
<div class ="row border field">
     <div class="col-md-3 d-flex align-items-center">
<%= link_to like.title, recipe_path(like.id) %>
</div>
 <div class="col-md-3 d-flex align-items-end">
 <% if like.recipe_image.attached? %>
    <%= image_tag like.recipe_image, size: "90x90" %>
  <% else %>
    <%= image_tag 'default-image', size: "90x90" %>
  <% end %>
  </div>
 <div class="col-md-3">
  <%= like.main_text.truncate(20)%>
 </div>
 <div class="col-md-3 d-flex align-items-end">
  <div id = "favorite_buttons">
  <%= render "favorites/favorite", recipe: like %>
  </div>
   </div>
  
  <% end %>

</div>
</div>
