<div class="container-field">
 <div class ="row">
     
     
 <div class="col-md-3 border">
    <div class="container">
    <div class="row-text-center">
        

<h4>ユーザ情報</h4><br>


<%= image_tag @user.get_profile_image,size:"90x90" %><br>
<%= @user.name %><br>

    
<p>一言メッセージ</p><br>
<%= @user.message %><br><br>

<%= link_to " ユーザ編集", edit_user_path, class: "glyphicon glyphicon-pencil btn btn-success" %><br><br>
<%= link_to "いいねした投稿", favorites_user_path(@user) %><br><br>

<h4><strong>ぽてガチャ</strong></h4>

どの投稿を選ぶか悩んでいる方に<br>
ゲームのガチャのように<br>
投稿されたものからランダムに<br>
選択する機能です<br>
ボタンをクリックすると<br>
投稿された記事にランダムに<br>
移動するよ！<br>
 <%= link_to " ぽてガチャ",  recipe_path(@random), class: "glyphicon glyphicon-pencil btn btn-success" %><br>

<% if current_user.id?%> 
<p>非公開の投稿一覧</p>
<% @reciped.each do |nopotato| %>
<table rules="groups" border="1">
 <span><%= link_to nopotato.title,recipe_path(nopotato.id) %></span>
 <% end %>
</table>
<% end %>
 </div>
 </div>
 </div>
 
<div class="col-md-5 offset-md-1">
  <div class="container-field">
  <h1>自分の投稿一覧</h1>

  <% @recipes.each do |potato| %>
  <div class="row border ">
  <div class="col-md-3 d-flex align-items-center">

  <%= link_to potato.title,recipe_path(potato.id) %>
  </div>
  
  <div class="col-md-3 d-flex align-items-center">
 <% if potato.recipe_image.attached? %>
    <%= image_tag potato.recipe_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'default-image', size: "100x100" %>
  <% end %>
  </div>
  
  <div class="col-md-3 d-flex align-items-end">
  <%= render "favorites/favorite", recipe: potato %>
   </div>
   <div class="col-md-3 d-flex align-items-end">
    コメント数：<%= potato.user_comments.count %>
   </div>
</div>
<% end %>

</div>

</div>
<div class="col-md-3 border">
  <div class="container-field">
<h4><strong>いいねランキング</strong></h4><br>
いいね数が多い上位3件の投稿が掲載されるよ<br><br>
<% @likes.each.with_index(1) do |note, i| %>
<div class="row border">
 <div class="col">
 第<%= i %>位
 </div>
  <div class="col">
 <%=link_to recipe_path(note.id),class:"title" do %>
 <%=note.title%>
<% end %>
</div>
 <div class="col">
<% if note.recipe_image.attached? %>
    <%= image_tag note.recipe_image, size: "90x90" %>
  <% else %>
    <%= image_tag 'default-image', size: "90x90" %>
  <% end %>
  </div>
   <div class="col">
  ❤数︎:<%= note.favorites.count %>
  </div>
  </div>
<% end %>
</div>
</div>
 </div>


</div>
 </div>
