<h4>ユーザ情報</h4>


<%= @user.name %>
<%= image_tag @user.get_profile_image,size:"50x50" %>
<%= @user.message %>


<%= link_to " ユーザ編集", edit_user_path, class: "glyphicon glyphicon-pencil btn btn-success" %>

<%= link_to "いいねした投稿", favorites_user_path(@user) %>


