<div class="container-field">
 <div class ="row">
     
     
 <div class="col-md-3 border">
    <div class="container">
    <div class="row-text-center">
<h4>ユーザ情報</h4><br>
<div class = "col align-self-center">
<%= image_tag @user.get_profile_image,size:"90x90" %><br>
<%= @user.name %><br>
</div>
<div class="balloon1-left">
 <p>『一言メッセージ』</p><br>
<p><%= @user.message %></p><br><br>
</div>
<%= link_to " ユーザ編集", edit_user_path, class: "btn btn-solid text-white" %><br><br>
<%= link_to "いいねした投稿", favorites_user_path(@user), class: "btn-radius-gradient-wrap btn btn-radius-gradient" %><br><br>

<div class = "potegacha">
 <% if user_signed_in? %>
  <% if @random == nil %> 
    <br><h4><strong>ぽてガチャ</strong></h4>
   この機能を使うためには<br>
   レシピの投稿が必要だよ<br>
   <%= link_to "新規投稿画面へ", new_recipe_path , class: "btn btn-primary"%>
  <% else %>
   <br><h4><strong>ぽてガチャ</strong></h4>
  どの投稿を選ぶか悩んでいる方に<br>
  ゲームのガチャのように<br>
  投稿されたものからランダムに<br>
  選択する機能です<br>
  ボタンをクリックすると<br>
  投稿された記事にランダムに<br>
  移動するよ！<br><br>
   <%= link_to " ぽてガチャ", recipe_path(@random), class: "btn btn--orange btn--circle btn--circle-a btn--shadow" %><br>
 
 <% end %>
<% end %>
  </div>
  </div>
  </div>
  </div>
 
<div class="col-md-6">
<h3><%= @user.name %>の投稿一覧</h3>

  <% @recipes.each do |potato| %>
  <div class="row border">
  <div class="col-md-3 d-flex align-items-center">

  <%= link_to potato.title,recipe_path(potato.id) %>
  </div>
  
  <div class="col-md-3 d-flex align-items-center">
 <% if potato.recipe_image.attached? %>
    <%= image_tag potato.recipe_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'default-image', size: "100x100" %>
  <% end %>
  </div>
  
  <div class="col-md-3 d-flex align-items-end">
   <div id = "favorite_buttons">
  <%= render "favorites/favorite", recipe: potato %>
   </div>
   </div>
   <div class="col-md-3 d-flex align-items-end">
    コメント数：<%= potato.user_comments.count %>
   </div>
</div>
<% end %>
<% if current_user.id %> 
<br><p>非公開の投稿一覧</p>
<% @reciped.each do |nopotato| %>
<div class="row border ">
  <div class="col-md-3 d-flex align-items-center">

  <%= link_to nopotato.title,recipe_path(nopotato.id) %>
  </div>
  
  <div class="col-md-3 d-flex align-items-center">
 <% if nopotato.recipe_image.attached? %>
    <%= image_tag nopotato.recipe_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'default-image', size: "100x100" %>
  <% end %>
  </div>
  <div class="col-md-3 d-flex align-items-end">
    <div id = "favorite_buttons">
  <%= render "favorites/favorite", recipe: nopotato %>
   </div>
   </div>
   <div class="col-md-3 d-flex align-items-end">
    コメント数：<%= nopotato.user_comments.count %>
   </div>
   </div>
    <% end %>

 <% else %>
 <% end %>
</div>

<div class="col-md-3 border order-last ">
  <div class="container-field m-1">
<h4><strong>いいねランキング</strong></h4><br>
いいね数が多い上位3件の投稿が掲載されるよ<br><br>
<% @likes.each.with_index(1) do |note, i| %>
<div class="row border">
  <div class="col-md-3 d-flex align-items-center">
 第<%= i %>位
 </div>
   <div class="col-md-3 d-flex align-items-center">
 <%=link_to recipe_path(note.id),class:"title" do %>
 <%=note.title%>
<% end %>
</div>
  <div class="col-md-3 d-flex align-items-center">
<% if note.recipe_image.attached? %>
    <%= image_tag note.recipe_image, size: "90x90" %>
  <% else %>
    <%= image_tag 'default-image', size: "90x90" %>
  <% end %>
  </div>
   <div class="col-md-3 d-flex align-items-center">
  ❤数︎:<%= note.favorites.count %>
  </div>
  </div>
<% end %>
</div>
</div>
 


</div>
 </div>
