<div class="container-field">
 <div class ="row">
     
     
 <div class="col-md-3 border">
    <div class="container">
    <div class="row-text-center">
        

<h4>ユーザ情報</h4><br>

<%= @user.name %>
<%= image_tag @user.get_profile_image,size:"90x90" %><br>

    
<p>一言メッセージ</p><br>
<%= @user.message %><br>

<%= link_to " ユーザ編集", edit_user_path, class: "glyphicon glyphicon-pencil btn btn-success" %><br>
<%= link_to "いいねした投稿", favorites_user_path(@user) %><br>
<% if current_user.id?%> 
<p>非公開の投稿一覧</p>
<% @reciped.each do |nopotato| %>
<table rules="groups" border="1">
 <span><%= link_to nopotato.title,recipe_path(nopotato.id) %></span>
 <% end %>
</table>
<% end %>
 </div>
 </div>
 </div>
 
<div class="col-md-5 offset-md-1">
  <div class="container-field">
  <h1>自分の投稿一覧</h1>

  <% @recipes.each do |potato| %>
  <div class="row border ">
  <div class="col-md-3 d-flex align-items-center">

  <%= link_to potato.title,recipe_path(potato.id) %>
  </div>
  
  <div class="col-md-3 d-flex align-items-center">
 <% if potato.recipe_image.attached? %>
    <%= image_tag potato.recipe_image, size: "100x100" %>
  <% else %>
    <%= image_tag 'default-image', size: "100x100" %>
  <% end %>
  </div>
  
  <div class="col-md-3 d-flex align-items-end">
  <%= render "favorites/favorite", recipe: potato %>
   </div>
   <div class="col-md-3 d-flex align-items-end">
    コメント数：<%= potato.user_comments.count %>
   </div>
</div>
<% end %>

</div>

</div>
</div>
 </div>
