<table>
 <% recipe.user_comments.each do |recipe_comment| %>
  <% recipe_comment_user = recipe_comment.user %>
    <tr>
    	<td>
    	 <% if user_signed_in? %> 
    		<%= link_to (recipe_comment_user) do %>
      		<%= image_tag recipe_comment.user.get_profile_image, size: "50x50" %><br>
      		<%=  recipe_comment_user.name %>
      		<% end %>
      		<% else %>
      		<%= image_tag recipe_comment.user.get_profile_image, size: "50x50" %><br>
      		<%=  recipe_comment_user.name %>
    		<% end %>
    	</td>
    	<td><%= recipe_comment.comment %></td>
    	<!--コメントしたユーザーと管理者のみ削除が行える-->
    <% if user_signed_in? && current_user.id == recipe_comment.user_id %>  
      	<td><%= button_to '削除', recipe_user_comment_path(recipe.id,recipe_comment.id), method: :delete %></td>
      	
    	<% elsif user_signed_in? && current_user.id == recipe_comment.user_id || admin_signed_in? %>
    	 
    	 	<td><%= button_to '削除', recipe_user_comment_path(recipe.id,recipe_comment.id), method: :delete %></td>
    	<% end %>
    </tr>
  <% end %>
</table>