<div class = "container">
<h2>レシピ検索結果</h2>

<table class="table table-hover table-inverse border">
      <% if @recipes.present? %>
      <% @recipes.each do |result| %>
     
        <tr>
            <td>
    <% if result.recipe_image.attached? %>
    <%= image_tag result.recipe_image, size: "100x100" %>
    <% else %>
    <%= image_tag 'default-image', size: "100x100" %>
    <% end %></td>
    
          <td><%=link_to result.title,recipe_path(result.id).truncate(20),data:{"turbolinks" => false}%></td>
          <td><%= result.main_text.truncate(20) %></td>
    <% if admin_signed_in?%>
    <% else %>
          <td><div id = "favorite_buttons">
         <%= render "favorites/favorite", recipe: result %>
         </div></td>
           <td>コメント数：<%= result.user_comments.count %></td>
        </tr>
     <% end %>
     <% end %>
     <% end %>
      <% if @recipes.size == 0 %>
 　　　<p>検索結果がありませんでした</p>
 　　　　<% end %>
</table>
</div>