<div class="container">
  <div class="row mt-3">
    <div class = "col-6 my-4">
      <span class="rounded bg-light py-2 px-3 font-weight-bold">会員一覧</span>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thread>
        <tr class="bg-light">
          <th scope="col">会員ID</th>
          <th scope="col">ニックネーム</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">ステータス</th>
        </tr>
      </thread>
        <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to "#{user.name}" , admin_user_path(user.id) %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.is_deleted == true %>
              <span class="font-weight-bold text-secondary"><%= user.status %></span>
            <% else %>
              <span class="font-weight-bold text-success"><%= user.status %></span>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
    </div>
</div>