    <div class="container-fluid border-bottom">
     <nav class="nav navbar-nav navbar-left p-2 ">
       <div class="text-center py-4">
      <%= link_to root_path do %>
        <%= image_tag "ぽてます.jpg", size: "100x100"%>
      <% end %>
    </div>
    </nav>
   
   <nav>
  <!--ヘッダー右部分-->
  <ul class="nav navbar-nav navbar-nav navbar-right p-2">
 <% if user_signed_in? %>
  <div class="public-menu btn-group" role="group" aira-label="Header menu" >
  <%= link_to homes_top_path, class:"nav-item btn" do  %>
  <li>TOP</li>
   <% end %>
   
  <%= link_to recipes_path, class:"nav-item btn" do  %>
  <li>食べ方一覧</li>
   <% end %>
   
  <%= link_to homes_about_path, class:"nav-item btn" do  %>
  <li>About</li>
   <% end %>
   
   <%= link_to user_path(current_user.id), class:"nav-item btn" do  %>
  <li>マイページ</li>
   <% end %>
   
   <%= link_to destroy_user_session_path, method: :delete, class:"nav-item btn" do  %>
  <li>ログアウト</li>
   <% end %>

<% elsif admin_signed_in? %>

<%= link_to admin_root_path, class:"nav-item btn" do  %>
  <li>TOP</li>
   <% end %>
   
  <%= link_to recipes_path, class:"nav-item btn" do  %>
  <li>食べ方一覧</li>
   <% end %>
   
<%= link_to admin_users_path, class:"nav-item btn" do  %>
  <li>ユーザ一覧</li>
   <% end %>
   
   <%= link_to destroy_admin_session_path, method: :delete, class:"nav-item btn" do  %>
  <li>ログアウト</li>
   <% end %>

<% else %>

<%= link_to  homes_top_path, class:"nav-item btn" do  %>
  <li>TOP</li>
   <% end %>
   
 <%= link_to new_user_registration_path, class:"nav-item btn" do  %>
  <li>新規登録</li>
   <% end %>
   
 <%= link_to  users_guest_sign_in_path, method: :post ,class:"nav-item btn" do %>
  <li>ゲストログイン</li>
   <% end %>
 
 <%= link_to new_user_session_path , class:"nav-item btn" do  %>
  <li>ログイン</li>
   <% end %>
   
   <%= link_to homes_about_path, class:"nav-item btn" do  %>
  <li>About</li>
   <% end %>
   
  <%= link_to recipes_path, class:"nav-item btn" do  %>
  <li>食べ方一覧</li>
   <% end %>
 
<% end %>

  <% if user_signed_in? %>
  <div class ="ml-auto">
 <%= render partial: 'layouts/search' %>
 <% else %>
 <% end %>
  </div>
  </div>
  </ul>
</nav>
</div>